# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'heroku'
      'submenu': [
        { 'label': 'Deploy', 'command': 'heroku:deploy' }
      ]
    ]
  }
]
